* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --marrom-escuro: #4B2E2E;
    --marrom-medio: #8B5A2B;
    --bege-claro: #F3E5AB;
    --branco: #FFF;
}



.navbar-custom {
    display: flex;
    gap: 40px;
    justify-content: center !important;
    width: 100%;
    padding: 10px 20px;
    background-color: var(--marrom-escuro) !important;
    border-bottom: 3px solid var(--marrom-medio) !important;
}

.navbar-brand {
    color: var(--branco) !important;
    font-weight: bold;
    font-size: 50px;
}

.navbar-custom input {
    width: 100%;
    border: 2px solid var(--marrom-medio);
    border-radius: 5px;
    padding: 5px;
}

/* Navbar toggler (hamburguer button) */
.navbar-toggler {
    display: none; /* Inicialmente escondido em telas grandes */
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.btn-outline-success {
    color: var(--marrom-medio);
    border-color: var(--marrom-medio);
}

form input {
    padding: 10px;
    margin-right: 10px;
}

form button {
    padding: 10px;
}

.btn-outline-success:hover {
    background-color: var(--marrom-medio);
    color: var(--branco);
}

.icones {
    font-size: 24px;
    display: flex;
    gap: 15px;
    color: var(--bege-claro);
    cursor: pointer;
   
}


.icones i:hover {
    color: var(--marrom-medio);
    transform: scale(1.1);
    transition: 0.3s;
}

:root {
    --marrom-escuro: #4B2E2E;
    --marrom-medio: #8B5A2B;
    --bege-claro: #F3E5AB;
    --branco: #FFF;
}

.submenu {
    background-color: var(--marrom-escuro);
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.submenu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.submenu li {
    padding: 10px;
    list-style: none;
    background-color: var(--branco);
    margin: 0 10px;
    border-radius: 5px;
    transition: 0.3s;
}


.submenu li a {
    color: var(--marrom-escuro);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.submenu li:focus {
    background-color: var(--marrom-escuro);
    transform: scale(1.05);
}

.submenu li:focus a {
    color: var(--branco);
}

.submenu li:hover {
    background-color: var(--marrom-escuro);
    transform: scale(1.05);
}

.submenu li:hover a {
    color: var(--branco); 
}

.dropdown button {
    background-color: var(--branco);
    color: var(--marrom-escuro);
    border: none;
    padding: 8px 15px;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
    text-align: center; 
}

.dropdown button:hover {
    background-color: var(--marrom-escuro);
    color: var(--branco);
}

.carousel-container {
    background-color: var(--marrom-escuro);
    padding: 20px 0;
}

.carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

/* ---- CARDS ---- */


.destaque .card {
    background-color: #FFF !important;
    border-radius: 10px !important;
    transition: transform 0.3s ease, background-color 0.3s ease !important;
    cursor: pointer !important;
    will-change: transform !important;
}

.destaque .card:hover {
    transform: translateY(-10px) scale(1.05) !important;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15) !important;
    background-color:  #F3E5AB !important; 
}


.destaque .card-body {
    background-color: transparent !important;
  }
  
  .destaque .card-img-top1 {
    background-color: transparent !important;
  }
  
  

.card-img-top1 {
  
    width: 80%;
  
}

.card:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.card-body  {
    text-align: center;
}

.card-body1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-title {
    color: var(--marrom-escuro);
    font-weight: bold;
}

.card-text {
    color: var(--marrom-medio);
}

.btn-primary {
    background-color: var(--marrom-escuro);
    border: none;
    transition: 0.3s;
}

.card .btn-primary {
    background-color: var(--marrom-escuro) !important;
    border: none;
    transition: 0.3s;
}

.card .btn-primary:hover {
    background-color: var(--marrom-medio) !important;
}

.btn-primary:hover {
    background-color: var(--marrom-medio);
}


.card-img-top5 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    margin: 0 auto;
    padding-top: 20px;
}

.row {
    padding-top: 20px;
    padding-bottom: 20px;
}

.formulario {
    display: block;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: #4B2E2E;
    margin: auto;
    padding: 20px;
    gap: 115px;
}

.desing {
    border: 2px solid #8B5A2B;
    padding: 20px;
    border-radius: 10px;
    background-color: #f5ecec;
    margin: auto;
    max-width: 400px;
}

.formulario h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.formulario .btn-primary {
    background-color: var(--marrom-escuro) !important;
    border: none;
    transition: 0.3s;
    margin: 20px auto;
    display: block;
}

.formulario input,
.formulario textarea,
.formulario select,
.header input {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--marrom-medio);
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

.formulario input:focus,
.formulario textarea:focus,
.formulario select:focus,
.form input:focus {
    border-color: var(--marrom-escuro);
    box-shadow: 0 0 5px var(--marrom-escuro);
}

.formulario .btn-primary:hover {
    background-color: var(--marrom-medio) !important;
}

.navbar-custom form .form-control:focus {
    border-color: var(--marrom-escuro) !important;
    box-shadow: 0 0 5px var(--marrom-escuro) !important;
}

.navbar-custom form .btn-outline-success {
    background-color: #4B2E2E;
    border: 2px solid var(--marrom-medio);
}

.navbar-custom form .btn-outline-success:hover {
    background-color: #6f5252;
}

.navbar-custom form .btn-outline-success {
    background-color: #4B2E2E;
    border: 2px solid var(--marrom-medio);
    color: #f5ecec;
}

.fot {
    display: block;
    background-color: #f5ecec;
    justify-items: center;
    padding: 10px;
}

.icons i {
    max-width: 80px;
    cursor: pointer;
    margin: 0 auto;
}

.menu-hamburguer {
    background-color: var(--marrom-escuro);  
    border: none;
    padding: 10px;
    border-radius: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 45px;
    margin-right: 15px;
}

.menu-hamburguer i {
    color: var(--branco);  
    font-size: 24px; 
    transition: transform 0.3s ease;
}

.menu-hamburguer:hover {
    background-color: var(--marrom-medio); 
}

/* Efeito ao passar o mouse sobre o ícone */
.menu-hamburguer:hover i {
    transform: scale(1.1);  /* Aumenta o tamanho do ícone levemente */
}

.menu-hamburguer span {
    height: 2px;
    width: 100%;
    background-color: #F3E5AB;
    display: block;
    margin-bottom: 4px;
}

/* Exibindo o submenu quando o botão de hambúrguer é clicado */
.menu-hamburguer.open + .submenu {
    display: block;
}


@media screen and (max-width: 768px) {

    
   
    .navbar-toggler {
        display: block; 
        background-color: var(--marrom-escuro); 
        border: none; 
        color: var(--branco); 
    }

    /* Esconde a navegação normal em telas menores */
    .navbar-collapse {
        display: none; /* Esconde o menu de navegação padrão */
    }

    /* O submenu começa escondido */
    .submenu {
        display: none; 
        flex-direction: column; 
        align-items: center; 
        background-color: var(--marrom-escuro); 
        padding: 10px 0;
        width: 100%; 
        margin-top: 10px; 
    }

        .hamb{
            margin-right: 2%;
        }
    
    .menu-hamburguer.open + .submenu {
        display: block; /* Mostra o submenu quando a classe 'open' for adicionada */
    }

    .submenu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    
    .submenu li {
        width: 100%;
        padding: 15px 0;
        text-align: center;
        background-color: var(--marrom-escuro);
        margin: 5px 0;
        border-radius: 5px;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }
    
    .submenu li a {
        color: #F3E5AB;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
    }
    
    .submenu li:hover,
    .submenu li:focus {
        background-color: var(--marrom-medio);
        transform: scale(1.05);
    }
    

    .submenu li:hover a,
    .submenu li:focus a {
        color: var(--branco); 
    }

  
    .header2 {
        display:none;
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: center;
        flex-direction: column; /* Empilha os itens verticalmente */
    }



    
    .navbar2 {
        display: none; /* Esconde a navbar adicional */
    }

    .card {
        width:  100%;

     }

     .card-img-top1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      
      .card-img-top1 {
        max-width: 90%;
        height: auto;
      }

      .card-body1{
        max-width: 80%;
        margin-left: 10%;
     }
     .card-img-top5{
   
        margin-left: 16%;
     }

 
 
     .col-md-3 {
        padding-left: 0 !important;
      
    }

    .card-img-top5{
        padding-left: 10%;
    }


     .row {
      padding-right: 2%;
      }
      
     .icones{
        margin-left: 10%;
     }

   .card-body{
    max-height: 90%;
   }
     .menu-hamburguer{
        margin-right: 40%;
     }

  
     /*margin left deixou certo o carrosel*/
     .carousel-item img{
        max-width: 90%;
        margin-left: 5% !important;
     }

     .destaque {
        max-width: 90%;
        height:30% !important ;
        margin-left: 5% !important;
     }

     /* Remover padding-left de todos os elementos filhos dentro de .row */


}


/* Para telas maiores que 768px, o botão de hambúrguer deve estar oculto */
@media screen and (min-width: 769px) and (max-width: 1023px) {


  
    .header{
        display: flex;
    }
    .navbar-toggler {
        display: none;
    }

    .card-body{
        max-width: 110%;
        
     }

     .card{
        max-width: 190%;

 
     }

     .card-text  {
        max-width: 110%;
     }

    .btn-primary{
        padding-top: 15%;
    }




    .submenu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .menu-hamburguer {
        display: none;
        
    }
    

    .header1{
        display: contents;
    }
    
    .navbar2{
        display: block;
        
    }

     .navbar-brand{
        margin-top: 8px;
        font-size: 20px !important; 
    }

    .navbar{
        display: none!important;
    }
 

     .card {
        width:  100%;
    
        overflow: hidden; /* isso ajuda a evitar que conteúdo ultrapasse */
      }
      .card {
        height: auto; /* Altura conforme o conteúdo */
      }
      

    

     .row{
     
        margin-right:  30px !important;
 
        
     }

 

    

      .card-img-top1 {
        max-width: 100%;
        height: auto;
        display: block;
        margin-left: auto !important;
        margin-right: auto I !important;
        margin-bottom: 15px; 
      
      }
      
     .card-body1{
        width: 55%;
        margin-left: 23%;
     }
     
     .card-img-top5{
        width: 53%;
        margin-left: 24%;
     }
     .icones{
        margin-right: 10%;
     }
 

   
}



@media screen and (min-width: 1024px){

    .navbar-custom{
        display: none;
    }

    .header1{
        display: flex;
    }

 
    
}